<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 style="font-size: 40px;text-transform:uppercase;font-family:Georgia, 'Times New Roman', Times, serif;text-align:center"> Groups </h1><hr><br>
    {% for i in values %}
    <h1 style="font-family:fantasy;font-size: 40px;text-shadow:3px 3px 10px black;color:rgb(30, 255, 0)" >{{ i.group_name }}</h1>
    <h2 style="font-family: 'Times New Roman', Times, serif;"> {{ i. }} </h2>
    {% endfor %}

    
</body>
</html>