<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <form action="" method="POST">
                {% csrf_token %}
                <h1>Do you want to delete your {{ form.postname }} post ? </h1>
                <input type="submit" value="Delete">&nbsp;&nbsp;&nbsp;<input type="reset" value="Cancel">
            </form>
        </div>
    </div>
    
</body>
</html>